header {
   text-align: center;   
}
span{
   font-style: italic; font-size: 16px;
}
.nav-button {
    font-size: 20px; color: gold; margin: 0 0 0 10px;
}

.night-block {
     
		text-align: center; margin: 10px auto; padding: 10px; background: #818589; 
}

.img-center {
   display: block; margin: 10px auto;
}
.detail-block{
   display: block; margin: 20px auto; padding: 10px; background:  #f0f0f0;
}

blockquote{
   font-family:'Courier New'; 
   font-size: 18px ;
}

.nav-div {
   background: blue; text-align: right; padding: 10px 10px 10px 0;    
}
.nav-div a {
    font-size: 20px; color: gold; margin: 0 0 0 10px;
}

